@font-face {
	font-family: 'earwig factory rg';
	src: url('../Fonts/earwig\ factory\ rg.ttf');
}
@font-face {
	font-family: 'helvetica now display';
	src: url('../Fonts/HelveticaNowDisplay-ExtBlk.ttf');
}
@font-face {
	font-family: 'p5hatty';
	src: url('../Fonts/p5hatty.ttf');
}
@font-face {
	font-family: 'cooper black';
	src: url('../Fonts/Cooper\ Black\ Regular.ttf');
}
@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../Fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf');
}
@font-face {
	font-family: 'texgyreadventor';
	src: url('../Fonts/texgyreadventor-regular.otf');
}
@font-face {
	font-family: 'clarendon';
	src: url('../Fonts/Clarendon\ Regular.otf');
}
@font-face {
	font-family: 'futura';
	src: url('../Fonts/FuturaPTMedium.otf');
}
@font-face {
	font-family: 'noto sans';
	src: url('../Fonts/NotoSans-Black.ttf');
}
:root {
	--red-color: #ff0505;
	--bg-color: #d84141;
	--black: #000000;
	--white: #fffffe;
	--helvitica: 'helvetica now display';
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-color);
}

.week--container {
	width: 200px;
	height: 120px;

	font-family: var(--helvitica);
	font-size: 4rem;
	position: relative;
	z-index: -3;
}
.week__mon {
	z-index: 3;

	position: absolute;
}
.week--container > .week__mon:first-child {
	transform: rotate(-3deg) scale(0.8, 1.25);
	right: 66%;
	top: 10%;
}
.week--container > .week__mon:nth-child(2) {
	transform: scaleY(140%);
	font-size: 2.75rem;
	right: 51%;
	top: 25%;
}
.week--container > .week__mon:nth-child(3) {
	transform: rotate(-3deg) scale(0.8, 1.25);
	right: 33%;
	top: 8%;
}
/* white */
.week--container > .week__mon:nth-child(4) {
	transform: rotate(-3deg);

	position: absolute;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 0px solid black;
	border-top: 70px solid white;
	width: 50px;
	height: 0px;

	right: 66%;
	top: 13%;
	z-index: 2;
}
.week--container > .week__mon:nth-child(5) {
	transform: scaleY(120%) rotate(-30deg);
	position: absolute;
	background-color: var(--white);
	width: 45px;
	height: 45px;
	right: 48%;
	top: 29%;
	z-index: 2;
	border-radius: 50%;
}
.week--container > .week__mon:nth-child(6) {
	transform: rotate(-2deg);
	position: absolute;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 70px solid var(--white);

	width: 38px;
	right: 33%;
	top: 13%;
	z-index: 2;
}
/* black */
.week--container > .week__mon:nth-child(7) {
	transform: rotate(-3deg);

	position: absolute;

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0px solid black;
	border-top: 90px solid var(--black);

	width: 60px;
	right: 62%;
	top: 5%;
	z-index: 1;
}
.week--container > .week__mon:nth-child(8) {
	transform: scaleY(120%) rotate(-30deg);
	position: absolute;
	background-color: var(--black);
	width: 55px;
	height: 55px;
	right: 46%;
	top: 25%;
	z-index: 1;
	border-radius: 50%;
}
.week--container > .week__mon:nth-child(9) {
	transform: rotate(-2deg);
	position: absolute;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 90px solid var(--black);

	width: 55px;
	right: 29%;
	top: 6%;
	z-index: 1;
}

/* day */
.week__day {
	z-index: 3;
	position: absolute;
}
.week--container > .week__day:first-child {
	transform: rotate(3deg) scale(0.8, 1.4);
}
.week--container > .week__day:nth-child(2) {
	transform: rotate(-3deg);
	right: 60%;
}
.week--container > .week__day:nth-child(3) {
	transform: rotate(-3deg) scale(0.8, 1.4);
	right: 45%;
}
.week--container > .week__day:nth-child(4) {
	transform: rotate(2deg);
	background-color: var(--white);
	width: 50px;
	height: 75px;
	z-index: 2;
	border-radius: 0px 50% 50% 0px;

	right: 75%;
	bottom: 35%;
}
.week--container > .week__day:nth-child(5) {
	transform: rotate(-3deg);
	right: 55%;
	color: var(--white);
	z-index: 2;
	font-size: 5.5rem;
	bottom: 25%;
}

/* fill to ng A okay? */
.week--container > .week__day:nth-child(6) {
	right: 65%;

	z-index: 2;

	bottom: 45%;
	background-color: var(--white);
	width: 30px;
	height: 30px;
}
/* Y */
.week--container > .week__day:nth-child(7) {
	font-weight: 800;
	transform: rotate(-3deg) scale(0.9, 1.4);
	color: var(--white);
	right: 42.25%;
	bottom: 30%;
	z-index: 2;
	font-size: 5rem;
}

/* black */
.week--container > .week__day:nth-child(8) {
	transform: rotate(2deg);
	background-color: var(--black);
	width: 60px;
	height: 85px;
	z-index: 0;
	border-radius: 0px 30% 30% 0px;

	right: 73%;
	bottom: 30%;
}
.week--container > .week__day:nth-child(9) {
	transform: rotate(-3deg);
	right: 53%;
	color: var(--black);
	z-index: 1;
	font-size: 7rem;
	bottom: 15%;
}
.week--container > .week__day:nth-child(10) {
	transform: rotate(-3deg);
	border-left: 5px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 0px solid black;
	border-top: 95px solid var(--black);

	width: 45px;

	z-index: 1;

	right: 40%;
	bottom: 30%;
}

.week {
	position: relative;
	width: 400px;
	height: 150px;
	margin: auto;
}

.week__1,
.week__2 {
	top: 30%;
	position: absolute;
}

.week__1 {
	right: 33%;
}
.week__2 {
	left: 50%;
}
