@font-face {
	font-family: 'earwig factory rg';
	src: url('../Fonts/earwig\ factory\ rg.ttf');
}
@font-face {
	font-family: 'helvetica now display';
	src: url('../Fonts/HelveticaNowDisplay-BlackIta.ttf');
}
@font-face {
	font-family: 'p5hatty';
	src: url('../Fonts/p5hatty.ttf');
}
@font-face {
	font-family: 'cooper black';
	src: url('../Fonts/Cooper\ Black\ Regular.ttf');
}
@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../Fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf');
}
@font-face {
	font-family: 'texgyreadventor';
	src: url('../Fonts/texgyreadventor-regular.otf');
}
@font-face {
	font-family: 'clarendon';
	src: url('../Fonts/Clarendon\ Regular.otf');
}
@font-face {
	font-family: 'futura';
	src: url('../Fonts/FuturaPTMedium.otf');
}
@font-face {
	font-family: 'noto sans';
	src: url('../Fonts/NotoSans-Black.ttf');
}
:root {
	--red-color: #ff0505;
	--bg-color: #d84141;
	--black: #000000;
	--white: #fffffe;
	--helvitica: 'helvetica now display';
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-color);
}

.week--container {
	background-color: bisque;
	width: 300px;
	height: 100px;
	margin: auto;
	font-family: var(--helvitica);
	font-size: 4rem;
	position: relative;
}
.week__day {
	z-index: 3;

	position: absolute;
}
.week--container > .week__day:first-child {
	right: 80%;
}
.week--container > .week__day:nth-child(2) {
	right: 68%;
}
.week--container > .week__day:nth-child(3) {
	right: 53%;
}

/* ._day__background {
	position: absolute;
	background-color: var(--white);
	width: 50px;
	height: 75px;
} */
