.time--container {
	font-family: 'earwig factory rg';
	color: white;
	font-size: 4rem;
	width: auto;
}
.time1 {
	margin: 15px;
	transform: skew(-15deg);
	background-color: black;
	width: 340px;
	padding-inline: 10px;
}
.time1 > p {
	transform: skew(15deg);
}
.time2 {
	margin: 15px;
	transform: skew(-15deg);
	background-color: black;
	width: 200px;
	padding: 10px;
	font-size: 3rem;
	display: flex;
}
.time__currently,
#am-pm {
	transform: skew(15deg);
}

#am-pm {
	margin-left: 10px;
}
