.today {
	margin-inline: auto;

	position: relative;

	width: 600px;
	height: 350px;

	z-index: 0;
}

.todayweather--container > .todayweather--item > .todayweather > .today:hover {
	transition: transform 50ms ease-in;
	transform: scale(1.2);
}
.today > div {
	position: absolute;
}
.today__month {
	transform: scale(0.7);
	bottom: 45%;
	right: 46%;
}
.today__num {
	z-index: 3;
	transform: rotate(-5deg);
	bottom: 30%;
	right: 16%;
}

.today__word {
	transform: scale(0.8);
	color: black;
	z-index: 4;
	bottom: 12%;
	right: 32%;
}
.today__word > .week--container.mon {
	transform: scale(1.5);
	z-index: 4;
	bottom: 22%;
	right: 40%;
}
.today__word > .week.fri {
	bottom: 22%;
	right: -12%;
}
.today__word > .week.thu {
	bottom: 22%;
	right: -12%;
}
.today__word > .week.sun {
	bottom: 22%;
	right: -10%;
}
.today__temp {
	transform: rotate(-15deg) scale(0.9);
	z-index: 0;
	/* 
	right: -17%;
	bottom: 22%; */

	right: -16%;
	bottom: 7%;
}
.today__weather {
	bottom: 58%;
	right: 24%;
}
.today__mmtemp {
	z-index: 5;
	bottom: 5%;
	right: 35%;
}
