/* modal container */

.modal-box {
	width: 100vw;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.modal-btn {
	overflow: hidden;

	height: 120px;
	width: 250px;
	margin-right: 10px;
	cursor: pointer;
	transition: transform ease-in-out 200ms;
}
.modal-btn__img {
	transform: translate(-797px, -390px);
}
.modal-btn:hover {
	transform: scale(1.2);
	transition: transform ease-in-out 200ms;
}

/* container */
.modal--container {
	position: relative;
	width: 1300px;
	height: 900px;
	margin: auto;
	background: url('https://raw.githubusercontent.com/LueKely/Project-Kaptan/Final/Images/background/bgi.png');
	background-color: black;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.modal--container::backdrop {
	background-color: rgba(0, 0, 0, 0.345);
}

/* modal placement */
.morgana {
	transform: scale(1);
	position: absolute;
	bottom: -3%;
	left: 2%;
	animation: morgana-moves 200ms ease;
}

@keyframes morgana-moves {
	from {
		opacity: 0%;
		transform: translate(-20px);
	}
	to {
		transform: translate(0px);

		opacity: 100%;
	}
}

@keyframes mc-moves {
	from {
		opacity: 0%;
		transform: translate(40px);
	}
	to {
		transform: translate(0px);

		opacity: 100%;
	}
}

.dialogueBox {
	position: absolute;
	left: 13%;
	bottom: -2%;
	animation: morgana-moves 800ms ease;
}

.modal--mc {
	position: absolute;
	left: 60%;
	bottom: -2.5%;
	animation: mc-moves 200ms ease;
}

.mc--choices {
	transform: rotate(10deg);
	position: absolute;
	bottom: 30%;
	left: 20%;
}
.dialogue__text {
	position: absolute;
	bottom: 0%;
	left: 0%;
}
.dialogue__name {
	z-index: 5;
	position: absolute;
	bottom: 38%;
	left: 4%;
	transform: rotate(-18deg) scaleY(0.8);
}
.dialogue--container {
	position: relative;
	width: 1100px;
	height: 350px;
}

/* that a tag */
a {
	color: red;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
