/* modal container */
.modal-btn {
	overflow: hidden;
	margin: auto;
	height: 120px;
	width: 250px;
}
.modal-btn__img {
	transform: translate(-797px, -390px);
}
.modal-btn:hover {
	transform: scale(1.2);
	transition: transform 60ms ease-in;
}

/* container */
.modal--container {
	display: relative;
	width: 100vw;
	height: 100vh;
	background-color: blanchedalmond;
}

/* morgana in neutral*/
.modal__morgana {
	position: relative;
	background-color: brown;
	width: 200px;
	height: 230px;
}

.morgana__body {
	z-index: 0;
	position: absolute;

	width: 175px;
	height: 210px;
	overflow: hidden;
	left: 6%;
	bottom: 5%;
}

/* morgana body */
.modal__morgana.neutral > .morgana__body > .body {
	transform: translate(-86px, -50px);
	/* transform: translate(-86px, -1114px); */
	/* transform: translate(-86px, -1380px); */
}

/* morgana eyes */
.modal__morgana.neutral > .morgana__eyes {
	z-index: 1;
	position: absolute;
	width: 130px;
	height: 120px;

	overflow: hidden;
	/* bottom: 39.6%;
	left: 8.5%; */
	bottom: 39.7%;
	left: 8.5%;
}
.modal__morgana.neutral > .morgana__eyes > .eye {
	transform: translate(-411px, -30px);
	animation: neutralBlink 5s infinite steps(1);
}
/* morgana__mouth */
.modal__morgana.neutral > .morgana__mouth {
	z-index: 2;
	width: 115px;
	height: 40px;
	position: absolute;

	overflow: hidden;
	/* left: 16.8%; */
	left: 16.85%;
	/* bottom: 30.6%; */
	bottom: 30.94%;
}

.modal__morgana.neutral > .morgana__mouth > .mouth {
	transform: translate(-565px, -1px);
	animation: neutralTalk 500ms infinite steps(1);
}

@keyframes neutralTalk {
	0%,
	30% {
		transform: translate(-565px, -1px);
	}
	31%,
	60% {
		transform: translate(-703px, -1px);
	}
	61%,
	100% {
		transform: translate(-841px, -1px);
	}
}
@keyframes neutralBlink {
	0%,
	70% {
		opacity: 0%;
	}
	71% {
		opacity: 100%;
		transform: translate(-273px, -30px);
	}

	75% {
		opacity: 100%;
		transform: translate(-411px, -30px);
	}
	76%,
	100% {
		opacity: 0%;
	}
}

.body__happy {
	transform: translate(-86px, -315px);
}

.body__mad {
	transform: translate(-86px, -582px);
}

.body__catious {
	transform: translate(-86px, -848px);
}
.body__troubled {
	transform: translate(-86px, -1114px);
}
.body__sad {
	transform: translate(-86px, -1380px);
}

/* morgana happy */
.modal__morgana.happy > .morgana__body > .body {
	transform: translate(-86px, -315px);
}
.modal__morgana.happy > .morgana__eyes {
	display: none;
}
.modal__morgana.happy > .morgana__mouth {
	position: absolute;
	width: 130px;
	height: 70px;
	z-index: 2;
	overflow: hidden;
	bottom: 22.5%;
	left: 14%;
}
.modal__morgana.happy > .morgana__mouth > .mouth {
	transform: translate(-274px, -271px);

	animation: happyTalk 500ms infinite steps(1);
}
@keyframes happyTalk {
	0%,
	30% {
		transform: translate(-274px, -271px);
	}
	31%,
	60% {
		transform: translate(-412px, -271px);
	}
	61%,
	100% {
		transform: translate(-550px, -271px);
	}
}

/* morgana mad */
.modal__morgana.mad > .morgana__body > .body {
	transform: translate(-86px, -581.5px);
}
.modal__morgana.mad > .morgana__eyes {
	z-index: 1;
	overflow: hidden;
	width: 130px;
	height: 120px;
	position: absolute;
	/* bottom: 44.2%; */
	bottom: 44.45%;
	/* left: 8.89%; */
	left: 8.8%;
}
.modal__morgana.mad > .morgana__eyes > .eye {
	/* display: none; */
	/* transform: translate(-411.5px, -550.4px); */
	transform: translate(-411.5px, -549.8px);
	/* transform: translate(-273.7px, -549.8px); */
	animation: madBlink 5s infinite steps(1);
}
.modal__morgana.mad > .morgana__mouth {
	z-index: 12;
	width: 115px;
	height: 40px;
	position: absolute;
	overflow: hidden;
	bottom: 29.5%;
	left: 16%;
}
.modal__morgana.mad > .morgana__mouth > .mouth {
	transform: translate(-564.9px, -534px);
	transform: translate(-703px, -534px);
	transform: translate(-841px, -534px);
	animation: madTalk 500ms infinite steps(1);
}
@keyframes madBlink {
	0%,
	70% {
		opacity: 0%;
	}
	71% {
		opacity: 100%;
		transform: translate(-273.7px, -549.8px);
	}

	75% {
		opacity: 100%;
		transform: translate(-411.5px, -549.8px);
	}
	76%,
	100% {
		opacity: 0%;
	}
}
@keyframes madTalk {
	0%,
	30% {
		transform: translate(-564.9px, -534px);
	}
	31%,
	60% {
		transform: translate(-703px, -534px);
	}
	61%,
	100% {
		transform: translate(-841px, -534px);
	}
}
