@media screen and (max-width: 720px) {
	body {
		overflow-y: visible;
	}
	/* date and time in mobile view */

	.time--container {
		font-size: 4rem;
	}
	.time1 {
		width: 260px;
	}

	.time2 {
		width: 210px;
		font-size: 3rem;
	}

	/* today's temp */

	/* current weather */
	.todayweather--container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 450px;
	}
	.todayweather--item {
		position: relative;

		width: 370px;
		height: 370px;
	}
	.todayweather--item > .todayweather {
		position: absolute;
		transform: scale(0.8);
		bottom: -11%;
		right: -10%;
	}

	.todayweather--item > .todayweather > .today {
		margin-inline: auto;

		position: relative;

		width: 450px;
		height: 450px;

		z-index: 0;
	}

	/* cancer */

	.todayweather--item > .todayweather > .today > .today__month {
		transform: scale(0.6);
		bottom: 60%;
		right: 40%;
	}
	.todayweather--item > .todayweather > .today > .today__num {
		z-index: 3;
		transform: rotate(-5deg);
		bottom: 45%;
		right: -3%;
	}

	.todayweather--item > .todayweather > .today > .today__word {
		transform: scale(0.8);
		color: black;
		z-index: 4;
		bottom: 27%;
		right: 27%;
	}
	.todayweather--item > .todayweather > .today > .today__word > .week.thu {
		bottom: 27%;
		right: -12%;
	}

	.todayweather--item
		> .todayweather
		> .today
		> .today__word
		> .week--container.mon {
		transform: scale(1.2);
		z-index: 4;
		bottom: 27%;
		right: 38%;
	}
	.todayweather--item > .todayweather > .today > .today__weather {
		bottom: 68%;
		right: 7%;
	}
	.todayweather--item > .todayweather > .today > .today__mmtemp {
		z-index: 5;
		bottom: 22%;
		right: 25%;
	}
	.today__temp {
		transform: scale(0.8);
		z-index: 0;
		/* 
		right: -17%;
		bottom: 22%; */

		right: 10%;
		bottom: -15%;
	}
}
