.week > .week__sat {
	z-index: 3;
	position: absolute;
}
/* S  */
.week > .week__sat:nth-child(1) {
	transform: scale(1.1, 2.2) rotate(-3deg);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 900;
	-webkit-text-stroke: 2px;
}
/* S white */
.week > .week__sat:nth-child(2) {
	z-index: 2;
	transform: scale(1.1, 2.2) rotate(-3deg);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	-webkit-text-stroke: 10px white;
}
/* S black */
.week > .week__sat:nth-child(3) {
	z-index: 1;
	transform: scale(1.5, 2.5) rotate(-3deg);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	-webkit-text-stroke: 15px black;
}

/* A */
.week > .week__sat:nth-child(4) {
	transform: scale(1, 1.8) rotate(-6deg);
	right: 73%;
	bottom: 27%;
}
/* A white */
.week > .week__sat:nth-child(5) {
	transform: rotate(-6deg);

	z-index: 2;
	border-left: 13px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 95px solid var(--white);

	width: 45px;
	height: 0px;

	bottom: 20.75%;
	right: 69%;
}
/* A white pt 1*/
.week > .week__sat:nth-child(6) {
	z-index: 2;

	width: 40px;
	height: 40px;

	background-color: white;

	bottom: 19%;
	right: 79%;
}

/* A black fill */
.week > .week__sat:nth-child(7) {
	transform: rotate(-6deg);
	z-index: 2;

	width: 20px;
	height: 43px;

	background-color: black;

	bottom: 40%;
	right: 77%;
}
/* T */
.week > .week__sat:nth-child(8) {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	transform: scale(1.8, 2.2);
	bottom: 50%;
	right: 65%;
}
/* T white */
.week > .week__sat:nth-child(9) {
	transform: rotate(90deg);
	z-index: 2;
	border-left: 10px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 80px solid var(--white);

	width: 105px;
	height: 0px;

	bottom: 48%;
	right: 51%;
	z-index: 2;
}
/* U */
.week > .week__sat:nth-child(10) {
	transform: scale(1, 1.5) rotate(-6deg);
	right: 50%;
	bottom: 35%;
}
/* U white */
.week > .week__sat:nth-child(11) {
	z-index: 2;
	transform: scale(1, 1.4);
	right: 50%;
	bottom: 35%;
	color: white;
	-webkit-text-stroke: 15px;
}
/* R */
.week > .week__sat:nth-child(12) {
	transform: scale(1, 2.3);
	right: 34%;
	bottom: 42%;
}
/* R white */
.week > .week__sat:nth-child(13) {
	z-index: 2;
	color: white;
	transform: scale(1.2, 2.1);
	right: 34%;
	bottom: 40%;
	-webkit-text-stroke: 14px;
}
/* D */
.week > .week__sat:nth-child(14) {
	transform: scale(1, 2.2);
	right: 19%;
	bottom: 50%;
}
/* D white */
.week > .week__sat:nth-child(15) {
	z-index: 2;
	transform: scale(1, 2.1);
	right: 19%;
	bottom: 50%;
	color: white;
	-webkit-text-stroke: 14px;
}

/* a */
.week > .week__sat:nth-child(16) {
	transform: scale(1.4, 2.1) rotate(4deg);
	right: 3%;
	bottom: 50%;
}
/* a white */
.week > .week__sat:nth-child(17) {
	z-index: 2;
	transform: scale(1.4, 2.1) rotate(4deg);
	color: white;
	right: 4%;
	bottom: 50%;
	-webkit-text-stroke: 10px;
}
/* Y */
.week > .week__sat:nth-child(18) {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	transform: scale(1.5, 2);
	font-size: 5rem;

	bottom: 29%;
	right: -10%;
}
.week > .week__sat:nth-child(19) {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	transform: scale(1.5, 2);
	z-index: 2;

	bottom: 36.5%;
	right: -2%;
	-webkit-text-stroke-width: 15px;
	-webkit-text-stroke-color: var(--white);
}
