.week > .week__thu {
	z-index: 3;
	position: absolute;
}

/* T */

.week > .week__thu:nth-child(1) {
	transform: rotate(-7deg) scale(1, 1.9);
}

/* T white part 1 */
.week > .week__thu:nth-child(2) {
	z-index: 2;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;

	border-top: 40px solid var(--white);
	transform: rotate(-7deg);

	width: 60px;
	height: 0px;

	bottom: 75%;
	right: 83.5%;
}
/* T white part 2 */
.week > .week__thu:nth-child(3) {
	z-index: 2;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;

	border-top: 60px solid var(--white);
	transform: rotate(-7deg);

	width: 30px;
	height: 0px;

	bottom: 27.5%;
	right: 86%;
}
/* T black part 1 */
.week > .week__thu:nth-child(4) {
	z-index: 1;
	border-left: 3px solid transparent;
	border-right: 7px solid transparent;

	border-top: 60px solid var(--black);
	transform: rotate(-7deg);

	width: 85px;
	height: 0px;

	bottom: 65%;
	right: 78.5%;
}
/* T black part 2 */
.week > .week__thu:nth-child(5) {
	z-index: 1;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;

	border-top: 75px solid var(--black);
	transform: rotate(-7deg);

	width: 50px;
	height: 0px;

	bottom: 19.5%;
	right: 83%;
}

/* H */

.week > .week__thu:nth-child(6) {
	transform: rotate(-5deg) scale(1, 1.8);

	bottom: 29.5%;
	right: 72%;
}
/* H white */
.week > .week__thu:nth-child(7) {
	transform: rotate(-5deg);
	z-index: 2;
	background-color: white;
	width: 55px;
	height: 95px;

	bottom: 20.5%;
	right: 71%;
}

/* H Black */
.week > .week__thu:nth-child(8) {
	transform: rotate(-5deg);
	z-index: 1;
	background-color: black;
	width: 70px;
	height: 115px;

	bottom: 12.5%;
	right: 69%;
}
/* u  */
.week > .week__thu:nth-child(9) {
	transform: rotate(-12deg) scale(1, 1.9);
	bottom: 39.5%;
	right: 58.5%;
}
/* u white part 1 */
.week > .week__thu:nth-child(10) {
	transform: rotate(-12deg) scale(1, 1.9);
	bottom: 39.5%;
	right: 59%;
	color: white;
	font-size: 4.5rem;
	z-index: 2;
	-webkit-text-stroke-width: 5px;
	-webkit-text-stroke-color: var(--white);
}
/* u white part 2 */
.week > .week__thu:nth-child(11) {
	transform: rotate(-12deg);
	z-index: 2;
	bottom: 29.2%;
	right: 61.5%;
	background-color: white;
	width: 16px;
	height: 80px;
}

/* u black  pt1*/

.week > .week__thu:nth-child(12) {
	transform: rotate(-12deg);
	z-index: 1;
	bottom: 30%;
	right: 53.5%;
	background-color: black;
	width: 99px;
	height: 100px;
}
/* u black  pt1*/
.week > .week__thu:nth-child(13) {
	transform: rotate(-19deg);
	z-index: 1;
	bottom: 21%;
	right: 53.18%;
	background-color: black;
	width: 56px;
	height: 70px;
}
