.day--container {
	width: 300px;
	height: 300px;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 40px;
}

.day--container > .day__items:first-child {
	margin-left: auto;
}
.day--container > .day__items:nth-child(2) {
	margin-right: auto;
}

/* number days*/

.day__number {
	position: relative;
	transform: scale(1.2, 1.9);

	height: 120px;
	width: 120px;
	font-size: 7rem;
	font-family: var(--helvitica);
	color: white;
}
.day__number > p {
	position: absolute;
	text-align: center;
}
.day__number :nth-child(2) {
	z-index: -1;
	-webkit-text-stroke: black 19px;
}
.day__number :nth-child(3) {
	color: white;

	z-index: -2;
	-webkit-text-stroke: white 25px;
}
